<% recomm_id ||= nil %>
<% workout_link = recomm_id ? workout_path(workout, recomm_id: recomm_id) : workout_path(workout) %>

<div class="relative ">
	<%= link_to workout_link, class: 'aspect-w-1 aspect-h-1 bg-white mb-1 block group overflow-hidden' do %>
		<% if workout.photo.attached? %>
			<%= cl_image_tag workout.photo.key, height: 500, width: 500, crop: :fill, class:"h-full w-full object-cover object-center transform-gpu scale-100 group-hover:scale-105 transition-transform duration-300 ease-out" %>
		<% end %>
	<% end %>
	<h3 class="capitalize font-serif text-xl inline"><%= workout.name %></h3>
	<div class="flex items-center">
		<h3 class="opacity-80 text-sm"><%= workout.mins %> mins</h3>
		<% if policy(workout).locked? %>
			<div class="inline-flex items-center justify-center w-5 h-5 ml-2 p-1 bg-shale rounded-full">
				<%= render 'icons/locked', klass:'text-cream w-2.5 h-2.5', fill:true %>
			</div>
		<% end %>
		<div class="ml-2">
			<%= render 'workouts/intensity', workout: workout %>
		</div>
	</div>
	<div class="absolute top-2 right-2 md:top-4 md:right-4 w-8 h-8 md:w-10 md:h-10">
		<% if user_signed_in? %>
			<%= render 'workouts/save_btn', workout: workout, recomm_id: recomm_id %>
		<% end %>
	</div>
</div>