<% content_for :meta_title, @workout.name %>

<div class="w-screen md:h-screen md:flex" data-controller="sms-upgrade" data-sms-upgrade-locked-value="<%= policy(@workout).locked? %>" data-sms-upgrade-url-value="<%= sms_upgrade_url(current_user.id) %>" data-sms-upgrade-upgrade-sms-sent-value="<%= current_user.upgrade_sms_sent %>">
  <% if is_native? %>
    <div class="fixed top-4 left-4 z-10">
      <div data-native-target="spacerTop"></div>
      <%= link_to :back, class:'w-10 h-10 bg-white shadow rounded-full flex items-center justify-center' do %>
        <%= render 'icons/chevron_left_small', klass:'w-4 h-4' %>
      <% end %>
    </div>
  <% end %>
  <div class="md:w-1/2 bg-black bg-opacity-10 h-96 md:max-h-screen md:h-full overflow-hidden relative">
    <% if @workout.photo.attached? %>
      <%= cl_image_tag @workout.photo.key, class: "object-cover object-center h-full w-full" %>
    <% end %>
  </div>
  <div class="md:w-1/2 bg-cream p-4 md:p-12 flex flex-col items-center justify-center md:h-full" style="min-height: calc(100vh / 2)">
    <div class="max-w-md flex flex-col items-center justify-center text-center mx-auto p-4">
      <div class="flex items-center justify-center mb-4">
        <%= render 'workouts/intensity', workout: @workout, include_intensity: true %>
      </div>
      <h1 class="text-4xl tracking-tight font-serif"><%= @workout.name %></h1>
      <p class="text-sm mt-2 opacity-80 mb-6"><%= @workout.mins %> mins · with <%= @workout.instructor.name %></p>
      
      <% if policy(@workout).locked? %>
        <div class="bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-56 flex items-center justify-center cursor-not-allowed font-medium">
          <%= render 'icons/locked', klass: 'text-white w-4 h-4 mr-4', fill: true %>
          Start workout
        </div>
        <% if is_native? %>
          <p class="text-center text-sm mt-1 text-black opacity-50">This workout is locked for your plan</p>
        <% else %>
          <%= link_to "Upgrade plan to participate", account_path, class: "text-center hover:opacity-80 transition-opacity duration-300 ease-out text-sm mt-1 text-mandarin" %>
        <% end %>
      <% else %>
        <div data-controller="workout-vimeo" data-workout-vimeo-id-value="663614262">
          <%= link_to '#', data:{ action:'click->workout-vimeo#fullscreen' }, class: "bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-56 flex items-center justify-center mb-4 font-medium" do %>
            <%= render 'icons/play_fill', klass: 'text-white w-4 h-4 mr-4' %>
            Start workout
          <% end %>
          <div data-workout-vimeo-target="embed" class="hidden"></div>
        </div>
      <% end %>
      <div class="mt-4">
        <%= render 'workouts/save_btn', workout: @workout, show_page: true %>
      </div>
    </div>
  </div>
</div>
