<h1 class="font-bold text-4xl"><%= @workout.name %></h1>
<h3><%= @workout.mins %></h3>
<h3 class="inline-block" style="background-color: <%= @workout.category.color %>"><%= @workout.category.name %></h3>
<h3><%= @workout.instructor.name %></h3>
