<div class="p-4">
  <div class="container">
    <%= turbo_frame_tag 'calendar' do %>
      <%= month_calendar do |date| %>
        <div class="pb-2">
          <div class="aspect-h-4 aspect-w-3 w-full">
            <% is_today = date == Date.today %>
            <% workouts = Workout.where(daily_workouts: @daily_workouts.where(date: date)) %>
            <div class="pr-4 h-full <%= 'opacity-30 hover:opacity-100' unless @date_range.include?(date) %>">
              <div class="border-t-2 w-full h-full relative flex flex-col group <%= is_today ? 'p-2 border-terracotta bg-mandarin bg-opacity-5' : 'border-black pt-2' %>">
                <div class="flex items-center justify-between">
                  <h4 class="text-4xl mb-2 flex-shrink-0 <%= 'text-terracotta' if is_today %>"><%= date.day %></h4>
                </div>
                <% if workouts.count.positive? %>
                  <div class="group-hover:hidden absolute bottom-4 right-4 rounded-full h-8 w-8 flex items-center justify-center bg-terracotta text-white">
                    <%= workouts.count %>
                  </div>
                  <div class="hidden group-hover:block overflow-scroll flex-grow-1">
                    <% workouts.each do |workout| %>
                      <%= link_to edit_dashboard_workout_path(workout), class: 'w-full flex group mb-4', data: {turbo_frame: "_top"} do %>
                        <div class="w-10 flex-shrink-0">
                          <div class="aspect-w-1 aspect-h-1 w-full relative leading-none overflow-hidden block bg-black bg-opacity-10">
                            <%= cl_image_tag(workout.photo.key, height: 100, width: 100, crop: :fill, class:"h-full w-full object-cover object-center transform-gpu scale-100 group-hover:scale-105 transition-transform duration-300 ease-out") if workout.photo.attached? %>
                          </div>
                        </div>

                        <div class="w-full h-full pl-2 flex flex-col justify-center">
                          <h3 class="capitalize font-serif text-sm inline leading-none"><%= workout.name %></h3>
                          <div class="flex items-center">
                            <p class="opacity-50 text-xs leading-none mt-1"><%= workout.instructor.name %> · <%= workout.category.name %></p>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <%= link_to new_daily_workout_path(start_date: date.to_s), data: {turbo_frame: "_top"}, class: 'rounded-full bg-black h-8 w-8 hidden group-hover:flex items-center justify-center absolute bottom-4 right-4 shadow-lg hover:scale-110 transform scale-100 transition-transform duration-300' do %>
                  <%= render 'icons/plus', klass: 'text-white h-3 w-3' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>