<%= render 'components/header' do %>
	<%= link_to dashboard_workouts_path, class:"mb-2 inline-flex items-center opacity-50 hover:opacity-100 transition-opacity duration-300 ease-out" do %>
		<%= render "icons/chevron_left_small", klass: "text-black h-2.5 w-2.5 mr-1" %>
		All workouts
	<% end %>
	<h1 class="font-serif text-4xl">New workout</h1>
<% end %>
<div class="p-4 pt-0">
	<div class="container">
		<div class="w-36 h-36 bg-black bg-opacity-10 mb-4">
			<% if @workout.photo.attached? %>
				<%= cl_image_tag @workout.photo.key, width: 500, height: 500, crop: 'fill' %>
			<% else %>
				<div class="bg-shale flex flex-col items-center justify-center text-cream h-full w-full">
					<h4 class="font-serif">No image</h4>
					<p class="text-white opacity-50 text-sm">1:1 ratio</p>
				</div>
			<% end %>
		</div>
		<%= render 'form', workout: @workout %>
	</div>
</div>