<div class="w-screen h-screen md:flex">
  <div class="md:w-1/2 bg-white max-h-96 md:max-h-screen md:h-full overflow-hidden">
    <%= image_tag 'default_1.jpg', class: "object-cover object-center h-full w-full" %>
  </div>
  <div class="md:w-1/2 bg-cream p-4 md:p-12 flex flex-col items-start justify-center md:h-full">
    <div class="max-w-sm w-full mx-auto">
      <h1 class="text-4xl md:text-5xl font-serif leading-none mb-8">Sign up</h1>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="md:grid md:grid-cols-2 md:gap-4">
          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class:'w-full' %>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autocomplete: "family-name", class:'w-full' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class:'w-full' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'w-full' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'w-full' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:'bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium mt-4' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

