<% content_for :meta_title, "Sign up" %>

<div class="w-screen md:h-screen md:flex">
  <div class="md:w-1/2 bg-white max-h-96 md:max-h-screen md:h-full overflow-hidden">
    <%= image_tag 'default_1.jpg', class: "object-cover object-center h-full w-full" %>
  </div>
  <div class="md:w-1/2 bg-cream p-4 pb-12 md:p-12 flex flex-col items-start justify-center md:h-full">
    <div class="max-w-sm w-full mx-auto">
      <h1 class="text-4xl md:text-5xl font-serif leading-none mb-8">Sign up</h1>

      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false } do |f| %>
        <div class="md:grid md:grid-cols-2 md:gap-4">
          <%= f.input :first_name, autocomplete: "given-name" %>
          <%= f.input :last_name, autocomplete: "family-name" %>
        </div>
        <%= f.input :phone, autocomplete: "tel", hint: 'Format with country code like so: +61403978503' %>
        <%= f.input :email, autocomplete: "email" %>
        <%= f.input :password, autocomplete: "new-password" %>
        <%= f.submit "Sign up", class:'bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium mt-4' %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

