<%= render 'components/header' do %>
	<%= link_to dashboard_instructors_path, class:"mb-2 inline-flex items-center opacity-50 hover:opacity-100 transition-opacity duration-300 ease-out" do %>
		<%= render "icons/chevron_left_small", klass: "text-black h-2.5 w-2.5 mr-1" %>
		All instructors
	<% end %>
	<h1 class="font-serif text-4xl">Edit instructor</h1>
<% end %>
<div class="p-4 pt-0">
	<div class="container">
		<div class="w-36 h-36 relative bg-black bg-opacity-10 mb-4">
			<% if @instructor.photo.attached? %>
				<%= cl_image_tag(@instructor.photo.key, height: 300, width: 300, crop: :fill, class:'object-cover') if @instructor.photo.attached? %>
			<% else %>
				<div class="bg-shale flex items-center justify-center text-cream h-full w-full">
					<h4 class="font-serif">No image</h4>
				</div>
			<% end %>
		</div>
		<%= render 'form', instructor: @instructor %>
		<%= button_to "or Delete instructor", dashboard_instructor_path(@instructor), method: :delete, form: { data: { turbo_confirm: "Are you sure? (You can't reverse this) ** THIS WILL DELETE ALL WORKOUTS FOR THIS INSTRUCTOR **" } }, class: "text-terracotta underline underline-offset-4 text-center inline-block mx-auto mt-6" %>
	</div>
</div>