<%= render 'components/header' do %>
	<%= link_to dashboard_path, class:"mb-2 inline-flex items-center opacity-50 hover:opacity-100 transition-opacity duration-300 ease-out" do %>
		<%= render "icons/chevron_left_small", klass: "text-black h-2.5 w-2.5 mr-1" %>
		Dashboard
	<% end %>
	<h1 class="font-serif text-4xl">Categories</h1>
<% end %>
<div class="p-4 pt-0">
	<div class="container">
		<div class="mb-8">
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Categories</h4>
				<%= link_to "+ Create category", new_dashboard_category_path, class:"px-4 py-2 uppercase font-medium text-sm bg-black text-white" %>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
				<% @categories.each do |category| %>
					<%= render 'category', category: category, admin: true %>
				<% end %>
			</div>
			<%= paginate @categories %>
			<%= render 'components/if_empty', records: @categories, message: "There are no categories..." %>
		</div>
	</div>
</div>