<% if is_native? %>
  <div class="w-screen h-screen fixed top-0 left-0">
    <!-- FIXED TOP -->
    <div class="fixed inset-x-0 top-0 flex items-end justify-right px-4 py-4 sm:py-6 sm:p-6 justify-center flex-col items-center pointer-events-none z-10">
      <div data-native-target="spacerTop"></div>
      <div class="w-full flex items-center justify-between h-6">
        <% back_path = params[:back_path] ? params[:back_path] : root_path %>
        <%= link_to back_path, class: 'opacity-0 w-8 h-8 rounded-full flex items-center justify-center' do %>
          <%= render 'icons/arrow_left', klass: 'w-6 h-6 text-black' %>
        <% end %>
        <%= image_tag 'logo.svg', class:'h-6' %>
        <%= link_to help_path(back_path: root_path), class: 'pointer-events-auto w-8 h-8 rounded-full flex items-center justify-center md:bg-mandarin text-black md:text-cream' do %>
          <%= render 'icons/help', klass: 'w-5 h-5' %>
        <% end %>
      </div>
    </div>

    <div data-controller="carousel" data-carousel-target='container' data-carousel-arrows-value="false" class="w-full h-full">
      <!-- SLIDES -->
      <div data-carousel-target='cell' class="w-full h-screen flex flex-col items-center justify-center text-center bg-cream">
        <div class="h-1/3 w-full pb-14 md:pb-24 flex flex-col items-center justify-end text-center">
          <h2 class="font-serif text-3xl">Workouts that support<br>your cycle</h2>
        </div>
        <div class="h-2/3 w-full relative">
          <%= image_tag 'intro_slide_1.png', class: 'h-full w-full object-cover md:object-contain' %>
          <div class="absolute bottom-0 w-full h-1/2 bg-gradient-to-t from-white"></div>
        </div>
      </div>
      <div data-carousel-target='cell' class="w-full h-screen flex flex-col items-center justify-center text-center bg-cream">
        <div class="h-1/3 w-full pb-14 md:pb-24 flex flex-col items-center justify-end text-center">
          <h2 class="font-serif text-3xl">A more mindful way<br>to stay fit</h2>
        </div>
        <div class="h-2/3 w-full relative">
          <%= image_tag 'intro_slide_2.png', class: 'h-full w-full object-cover md:object-contain' %>
          <div class="absolute bottom-0 w-full h-1/2 bg-gradient-to-t from-white"></div>
        </div>
      </div>
      <div data-carousel-target='cell' class="w-full h-screen flex flex-col items-center justify-center text-center bg-cream">
        <div class="h-1/3 w-full pb-14 md:pb-24 flex flex-col items-center justify-end text-center">
          <h2 class="font-serif text-3xl">Pilates, HIIT & Stretch<br>for all levels</h2> 
        </div>
        <div class="h-2/3 w-full relative">
          <%= image_tag 'intro_slide_3.png', class: 'h-full w-full object-cover md:object-contain' %>
          <div class="absolute bottom-0 w-full h-1/2 bg-gradient-to-t from-white"></div>
        </div>
      </div>
      <div data-carousel-target='cell' class="w-full h-screen flex flex-col items-center justify-center text-center bg-cream">
        <div class="h-full w-full pb-14 md:pb-24 flex flex-col items-center justify-center text-center">
          <h2 class="font-serif text-3xl mb-4">How do I participate?</h2>
          <p class="max-w-sm font-serif">Members that subscribe to Align Body<br>can participate here in the app.</p>
        </div>
        <div class="absolute bottom-0 w-full h-1/3 bg-gradient-to-t from-white"></div>
      </div>

      <!-- FIXED BoTTOM -->
      <div class="fixed inset-x-0 bottom-0 flex items-end justify-right px-4 py-4 sm:py-6 sm:p-6 justify-center flex-col items-center pointer-events-none z-10">
        <div data-carousel-target='pageDots' class="mb-4 pointer-events-auto"></div>
        <%= link_to 'Login', new_user_session_path(back_path: root_path), class:"bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium md:col-span-2 max-w-md shadow-sm pointer-events-auto" %>
        <%= render 'shared/bottom_spacer', no_navbar: true %>
      </div>
    </div>
  </div>
<% else %>
  <div class="w-screen h-screen md:flex">
    <%= render 'components/half_page_img', img_path: 'default_1.jpg' %>
    <div class="md:w-1/2 bg-cream p-4 md:p-12 flex flex-col items-start justify-center h-1/2 text-center md:h-full">
      <div class="max-w-sm mx-auto">
        <p class="text-mandarin font-bold mb-4">Launching soon!</p>
        <h1 class="text-4xl md:text-5xl font-serif leading-none mb-2">Pilates classes for all phases of your cycle</h1>
        <p class="font-serif leading-normal mb-6">Our goal is for you to become familiar with your body, and how to workout to support your cycle.</p>
        <% if user_signed_in? %>
          <%= link_to 'Start a workout', workouts_path, class: "bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase font-medium" %>
        <% else %>
          <%= link_to 'Notify me!', '#', class: "vrlps-trigger bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase font-medium" %>
        <% end %>
        <p class="opacity-50 text-sm mt-2">Join the launch to win!</p>
      </div>
    </div>
  </div>

  <!-- Viral loops -->
  <script>
    ! function(a, b, c, d, t) {
        var e, f = a.getElementsByTagName("head")[0];
        if (!a.getElementById(c)) {
            if (e = a.createElement(b), e.id = c, e.setAttribute("data-vrlps-ucid", d), e.setAttribute("data-vrlps-version", "2"), e.setAttribute("data-vrlps-template", t), e.src = "https://app.viral-loops.com/popup_assets/js/vl_load_v2.min.js", window.ub) {
                jQuery = null, $ = null;
                var g = a.createElement(b);
                g.src = "https://code.jquery.com/jquery-2.2.4.min.js", f.appendChild(g)
            }
            f.appendChild(e);
            var h = a.createElement("link");
            h.rel = "stylesheet", h.type = "text/css", h.href = "https://app.viral-loops.com/static/vl-loader.css", f.appendChild(h);
            var i = a.createElement("div");
            i.id = "vl-overlay", i.style.display = "none";
            var j = a.createElement("div");
            j.id = "vl-loader", i.appendChild(j), a.addEventListener("DOMContentLoaded", function(b) {
                console.log('vl loader');
                a.body.appendChild(i);
                for (var c = a.getElementsByClassName("vrlps-trigger"), d = 0; d < c.length; d++) c[d].removeAttribute("href"), c[d].onclick = function() {
                    a.getElementById("vl-overlay").style.display = "block"
                };
                var e = a.querySelectorAll("[data-vl-widget='popupTrigger']");
                [].forEach.call(e, function(b) {
                    var c = a.createElement("div");
                    c.className = "vl-embedded-cta-loader", b.appendChild(c)
                })
            })
        }
    }(document, "script", "vrlps-js", "73vqCzCD314gvpa0CaUZ0c5IKf0", "waitlist");
  </script>

  <style type="text/css">
    #vl_popup.vlns.vl-wider-popup .vl-modal-dialog {
      height: 100vh!important;
      margin: 0px!important;
      padding: 1rem!important;
      display: flex!important;
      align-items: center!important;
      justify-content: center!important;
      width: 100vw!important;
      max-width: unset!important;
    }

    .vl-heading {
      font-family: 'Value Serif'!important;
      font-weight: 400!important;
    }

    .vlns .vl-body,
    .vlns .vl-sharing-subheading,
    .vlns .vl-subheading,
    .vlns .vl-form-control,
    .vlns .vl-submit-btn {
      font-family: 'Magnet'!important;
      letter-spacing: normal!important;
    }

    .vlns .vl-submit-btn {
      text-transform: uppercase!important;
      font-weight:  500!important;
    }

    #vl_popup.vlns .vl-label,
    #vl_popup.vlns .vl-label-emphasis,
    #vl_popup.vlns .vl-label-emphasis-big,
    #vl_popup.vlns .vl-label-input {
      font-family: 'Value Serif'!important;
      font-weight: 400!important;
    }

    #vl_popup.vlns.vl-new-version .vl-modal-dialog .vl-metric .vl-metric-description {
      font-family: 'Magnet'!important;
    }

    .vl-order-banner {
      border: none!important;
    }

    .vlns .vl-leaderboard-info {
      color: #B55119!important;
    }

    #vl_popup.vlns.vl-wider-popup .vl-modal-dialog .vl-close-btn-2 {
      opacity: 100!important;
    }

    @media (max-width: 600px) {
      #vl_popup.vlns.vl-wider-popup .vl-modal-dialog {
        align-items: start!important;
      }

      #vl_popup.vlns.vl-new-version .vl-modal-dialog .vl-modal-content {
        margin-top: 30px!important;
      }
    }
  </style>
<% end %>
