<%= render 'components/header' do %>
	<%= link_to dashboard_path, class:"mb-2 inline-flex items-center opacity-50 hover:opacity-100 transition-opacity duration-300 ease-out" do %>
		<%= render "icons/chevron_left_small", klass: "text-black h-2.5 w-2.5 mr-1" %>
		Dashboard
	<% end %>
	<h1 class="font-serif text-4xl">Users</h1>
<% end %>

<div class="p-4 pt-0">
	<div class="container">
		<div class="mb-8">
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Users</h4>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
				<% @users.each do |user| %>
					<%= render 'user', user: user, admin: true %>
				<% end %>
			</div>
			<%= paginate @users %>
			<%= render 'components/if_empty', records: @users, message: "There are no users..." %>
		</div>
	</div>
</div>