<% content_for :meta_title, "Login" %>

<div class="w-screen h-screen md:flex">
  <div class="md:w-1/2 bg-white max-h-96 md:max-h-screen md:h-full overflow-hidden">
    <%= image_tag 'default_1.jpg', class: "object-cover object-center h-full w-full" %>
  </div>
  <div class="md:w-1/2 bg-cream p-4 md:p-12 flex flex-col items-start justify-center md:h-full">
    <div class="max-w-sm w-full mx-auto">
      <h1 class="text-4xl md:text-5xl font-serif leading-none mb-8">Log in</h1>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: 'w-full' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'w-full' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2 flex items-center">
            <%= f.check_box :remember_me, class: 'mr-2 focus:ring-0 border checked:bg-black', checked: true %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:'bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium mt-4' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
