<% content_for :meta_title, "Coming soon" %>

<div class="fixed top-4 left-1/2 transform -translate-x-1/2">
	<div data-native-target="spacerTop" class="w-full"></div>
	<%= link_to root_path, class:'h-8 inline-block' do %>
		<%= image_tag 'logo.svg', class:'h-full' %>
	<% end %>
</div>

<div class="w-screen h-screen md:flex">
  <div class="md:w-1/2 bg-white max-h-96 md:max-h-screen md:h-full overflow-hidden hidden md:block">
    <%= image_tag 'default_1.jpg', class: "object-cover object-center h-full w-full" %>
  </div>
  <div class="md:w-1/2 bg-cream p-4 md:p-12 flex flex-col items-center justify-center h-full">
    <div class="max-w-lg w-full mx-auto">
      <h1 class="text-4xl md:text-5xl font-serif leading-none mb-2">Launching soon</h1>
      <p class="mb-8">Fill in the details below to gain early access when we launch! ✨</p>

      <%= render 'components/forms/error_messages', resource: @validator, error_types:[:base] %>

      <%= simple_form_for @validator, as: 'Validator', url: coming_soon_index_path, data: { controller: 'recaptcha' } do |f| %>
        <div class="md:grid md:grid-cols-2 md:gap-4">
          <%= f.input :first_name, autocomplete: "given-name", input_html:{ data: { action:"blur->recaptcha#showRecaptcha" }} %>
          <%= f.input :last_name, autocomplete: "family-name", input_html:{ data: { action:"blur->recaptcha#showRecaptcha" }} %>
        </div>
        <%= f.input :email, autocomplete: "email", wrapper_html: { class: "mb-2" }, input_html:{ data: { action:"blur->recaptcha#showRecaptcha" }} %>
        <div class="<%= 'h-0 opacity-0' unless @show_recaptcha %> overflow-hidden transition-opacity duration-500 ease-out" data-recaptcha-target="recaptcha">
        	<%= recaptcha_tags(noscript: false) %>
        </div>
        
        <%= render 'components/forms/submit', f: f, value: 'Notify me' %>
      <% end %>
      <%= link_to "Admin login", new_user_session_path, class:'text-center mt-4 block opacity-80 hover:opacity-100' %>
    </div>
  </div>
</div>