<% content_for :meta_title, "#{@category.name}" %>
<% content_for :meta_description, @category.description %>

<%= render 'components/header' do %>
	<%= render 'components/back/text_link', text: 'Back', path: workouts_path, klass:'mb-2' %>
	<h1 class="font-serif text-4xl"><%= @category.name %></h1>
	<p class="font-serif opacity-80 max-w-2xl"><%= @category.description %></p>
<% end %>
<div class="p-4">
	<div class="container">
		<div class="mb-8">
			<div>
				<div class="sm:flex items-center justify-between mb-4">
					<h4 class="uppercase font-medium mb-2 sm:mb-0">Workouts</h4>
					<div class="flex items-center sm:justify-end flex-wrap mb-2 sm:mb-0">
						<% Workout.intensities.each do |key, value| %>
							<% if params[:intensity] == key.to_s %>
								<%= link_to "#{key} intensity", category_path(@category), class:"px-4 py-2 border border-black uppercase font-medium text-sm sm:ml-2 mr-2 sm:mr-0 hover:bg-black hover:text-white #{params[:intensity] == key.to_s ? 'bg-black text-white' : ''}" %>
							<% else %>
								<%= link_to "#{key} intensity", category_path(@category, intensity: key), class:"px-4 py-2 border border-black uppercase font-medium text-sm sm:ml-2 mr-2 sm:mr-0 hover:bg-black hover:text-white #{params[:intensity] == key.to_s ? 'bg-black text-white' : ''}" %>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="grid grid-cols-2 gap-4 gap-y-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
					<% @workouts.each do |workout| %>
						<%= render 'workouts/workout', workout: workout %>
					<% end %>
				</div>
				<%= render 'components/if_empty', records: @workouts, message: "No workouts found..." %>
			</div>
		</div>
	</div>
</div>