<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body data-controller="native" class="bg-cream min-h-screen">
    <%= render 'shared/navbar' %>
    <%= render 'shared/page_loader' %>
    <main id="content" class="bg-cream" data-turn-exit data-turn-enter>
      <%= yield %>
      <%= render('shared/footer') if !is_native? && !@hide_footer %>
      <%= render('shared/bottom_spacer') if is_native? %>
    </main>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>
