<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body data-controller="native page-transition" class="bg-cream min-h-screen">
    <%= render 'shared/navbar' %>
    <main id="content">
      <%= yield %>
    </main>
    <%= render('shared/footer') if !is_native? && !@hide_footer %>
    <%= render('shared/bottom_spacer') if is_native? %>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>
