<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body data-controller="native page-transition" class="bg-cream">
    <%= render 'shared/navbar' %>
    <main id="content">
      <%= yield %>
      <%= render('shared/bottom_spacer') if is_native? %>
    </main>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>
