<% if current_user.active_subscriptions.find_by(processor_plan: plan.id) %>
	<div class="mt-6">
		<!-- SUB status -->
		<% subscription = @subscriptions.find{ |sub| sub.plan.id == plan.id } %>
	  <% if subscription && subscription.cancel_at_period_end %>
	  	<!-- Update billing -->
			<%= link_to @portal_session.url, class: "bg-white text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
				<%= render 'icons/refresh', klass: 'h-4 w-4 mr-2' %>
		    Renew subscription
		  <% end %>
	  <% else %>
		  <!-- Update billing -->
			<%= link_to @portal_session.url, class: "bg-white text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
				<%= render 'icons/check', klass: 'h-5 w-5 mr-2' %>
		    Subscribed
		  <% end %>
	  <% end %>
	</div>
<% else %>
	<div class="mt-6">
		<!-- UPGRADE plan -->
		<% checkout_session = current_user.payment_processor.checkout(
												      mode: 'subscription',
												      payment_method_types: ['card'],
												      locale: I18n.locale,
												      line_items: [{
												        price: plan.id,
												        quantity: 1
												      }],
												      allow_promotion_codes: true,
												      success_url: membership_url,
												      cancel_url: membership_url
												    ) %>
		<% if is_native? %>
			<div class="bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium">Not subscribed</div>
		<% else %>
			<%= render "pay/stripe/checkout_button", session: checkout_session, title: "Subscribe", class: "bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" %>
		<% end %>
	</div>
<% end %>
