<% content_for :meta_title, 'Your account' %>

<%= render 'components/header' do %>
	<h1 class="font-serif text-4xl">Your account<br></h1>
	<% if is_native? %>
		<p class="font-serif opacity-80">Hey <%= current_user.name.first&.capitalize %>, here you can view your plan, logout and more</p>
	<% else %>
		<p class="font-serif opacity-80">Hey <%= current_user.name.first&.capitalize %>, here you can upgrade your plan, logout and more</p>
	<% end %>
<% end %>
<div class="p-4">
<div class="container">
		<% if is_native? %>
			<!-- Account settings -->
			<div class="mb-8">
				<div class="flex items-center justify-between mb-4">
					<h4 class="uppercase font-medium">Account settings</h4>
				</div>
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
					<%= link_to account_settings_path, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
				    Go to settings
				  <% end %>
				</div>
			</div>
		<% else %>
			<!-- Plans -->
			<div class="mb-8">
				<div class="mb-4">
					<h4 class="uppercase font-medium">Your plan</h4>
					<p class="mt-0.5 opacity-50 text-sm" data-native-target="onlyNative">Subscriptions managed online</p>
				</div>
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
					<%= render 'accounts/free_plan' %>
					<% @plans.each do |plan| %>
						<%= render 'accounts/plan', plan: plan %>
					<% end %>
				</div>
			</div>
		<% end %>
		<!-- Logout button -->
		<div class="mb-8">
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Session</h4>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
				<%= button_to destroy_user_session_path, method: :delete, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
			    Logout
			  <% end %>
			</div>
		</div>
		<!-- Connect spotify -->
		<div class="mb-8">
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Music</h4>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
				<% if current_user.spotify_hash %>
					<div class="relative">
						<div class="text-black border border-black px-6 py-4 text-center inline-block uppercase w-full flex items-center justify-center font-medium">
							<%= render 'icons/spotify', klass: 'text-black h-4 w-4 mr-2' %>
							Spotify
						</div>
						<div style="background: #1db954;" class="p-2 border border-t-0 border-black text-center text-white text-sm flex items-center justify-between">
							<div class="flex items-center justify-center">
								<%= render 'icons/check', klass:'w-4 h-4 text-white mr-2' %>
								Connected to <%= current_user.spotify_user.display_name %>
							</div>
							<div data-controller="modal">
								<!-- Open modal button -->
							  <a href="#" data-action="click->modal#open" class="text-white h-6 w-6 rounded-full flex items-center justify-center transform duration-300 ease-out rotate-0 hover:rotate-45">
							    <%= render 'icons/settings', klass:'h-4 w-4' %>
							  </a>
							  <!-- Modal Container -->
							  <div data-target="modal.container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
							    <!-- Modal Inner Container -->
							    <div class="max-h-screen w-full max-w-lg relative">
							      <!-- Modal Card -->
							      <%= render 'components/modal/container', title: 'Spotify settings' do %>
					          	<%= button_to spotify_disconnect_path, method: :delete, class: "text-terracotta px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium hover:bg-terracotta-light transition-all duration-300 duration-300 ease-out" do %>
								        <%= render 'icons/spotify', klass:"h-4 w-4 mr-1" %>
								        <span class="ml-1">Disconnect Spotify</span>
								      <% end %>
						        <% end %>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				<% else %>
					<%= link_to spotify_login_path, method: :post, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
				    <%= render 'icons/spotify', klass: 'text-black h-4 w-4 mr-2' %>
						Connect Spotify
				  <% end %>
				<% end %>
			</div>
		</div>
		<!-- Contact -->
		<div class="mb-8">
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Contact</h4>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
				<%= link_to contact_path, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
			    Get in touch
			  <% end %>
			</div>
		</div>
		<!-- Terms & Privacy -->
		<div>
			<div class="flex items-center justify-between mb-4">
				<h4 class="uppercase font-medium">Policies</h4>
			</div>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
				<%= link_to terms_path, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
			    Terms & Conditions
			  <% end %>
			  <%= link_to privacy_path, class: "text-black border border-black px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
			    Privacy policy
			  <% end %>
			</div>
		</div>
	</div>
</div>